In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error
import numpy as np

In [14]:
data=pd.read_csv('data.csv')
data.head()

,Unnamed: 0,Brand me,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
0,0,"LG V30+ (Black, 128 )",4.3,4.0,128.0,6.00,48,13.0,4000,24999
1,1,I Kall K11,3.4,6.0,64.0,4.50,48,12.0,4000,15999
2,2,Nokia 105 ss,4.3,4.0,4.0,4.50,64,16.0,4000,15000
3,3,"Samsung Galaxy A50 (White, 64 )",4.4,6.0,64.0,6.40,48,15.0,3800,18999
4,4,"POCO F1 (Steel Blue, 128 )",4.5,6.0,128.0,6.18,35,15.0,3800,18999

In [15]:
data.drop(['Brand me'],axis=1,inplace=True)

In [16]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [17]:
data.drop(['Ratings'],axis=1,inplace=True)

In [22]:
print(data.isnull().sum())

RAM                7
ROM                4
Mobile_Size        2
Primary_Cam        0
Selfi_Cam        269
Battery_Power      0
Price              0
dtype: int64

In [23]:
data['RAM']=data['RAM'].fillna(data['RAM'].mean())
data['ROM']=data['ROM'].fillna(data['ROM'].mean())
data['Mobile_Size']=data['Mobile_Size'].fillna(data['Mobile_Size'].mean())
data['Selfi_Cam']=data['Selfi_Cam'].fillna(data['Selfi_Cam'].mean())

In [24]:
print(data.isnull().sum())

RAM              0
ROM              0
Mobile_Size      0
Primary_Cam      0
Selfi_Cam        0
Battery_Power    0
Price            0
dtype: int64

In [25]:
x=data.drop(['Price'],axis=1)
y=data['Price']
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=100)
data.head()

   RAM    ROM  Mobile_Size  Primary_Cam  Selfi_Cam  Battery_Power  Price
0  4.0  128.0         6.00           48       13.0           4000  24999
1  6.0   64.0         4.50           48       12.0           4000  15999
2  4.0    4.0         4.50           64       16.0           4000  15000
3  6.0   64.0         6.40           48       15.0           3800  18999
4  6.0  128.0         6.18           35       15.0           3800  18999

In [26]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(xtrain, ytrain)
ypred = model.predict(xtest)
print("Training Data Score : ",model.score(xtrain,ytrain))
print("Testing Data Score : ",model.score(xtest,ytest))

Training Data Score :  0.13245167778109712
Testing Data Score :  0.13844463351273784

In [27]:
rmse = math.sqrt(mean_squared_error(ytest, ypred)) 
print('Root mean square error : ', rmse) 
mse = (mean_squared_error(ytest, ypred)) 
print('Mean square error : ', mse) 
mae= mean_absolute_error(ytest, ypred)
print('Mean absolute error : ', mae)

Root mean square error :  43482.33582206
Mean square error :  1890713528.5424023
Mean absolute error :  16344.963493553694

In [35]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(max_depth=22)
model.fit(xtrain, ytrain)
ypred = model.predict(xtest)
print("Training Data Score : ",model.score(xtrain,ytrain))
print("Testing Data Score : ",model.score(xtest,ytest))
print(f'Depth = {model.get_depth()}')

Training Data Score :  0.9989373802295743
Testing Data Score :  0.8559491327702597
Depth = 22

In [29]:
rmse = math.sqrt(mean_squared_error(ytest, ypred)) 
print('Root mean square error : ', rmse) 
mse = (mean_squared_error(ytest, ypred)) 
print('Mean square error : ', mse) 
mae= mean_absolute_error(ytest, ypred)
print('Mean absolute error : ', mae)

Root mean square error :  17872.842526350327
Mean square error :  319438499.9717167
Mean absolute error :  5282.863599872729

In [30]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(xtrain, ytrain)
ypred = model.predict(xtest)
print("Training Data Score : ",model.score(xtrain,ytrain))
print("Testing Data Score : ",model.score(xtest,ytest))
print(f'Estimators = {model.n_estimators}')

Training Data Score :  0.982888894590463
Testing Data Score :  0.7546967431673112
Estimators = 100

In [31]:
rmse = math.sqrt(mean_squared_error(ytest, ypred)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(ytest, ypred)) 
print('Mean square error', mse) 
mae=mean_absolute_error(ytest, ypred)
print('Mean absolute error', mae)

Root mean square error 23201.8666828447
Mean square error 538326617.5684988
Mean absolute error 6314.316973025471

In [32]:
import pickle
pickle.dump(model,open('model.pkl','wb'))